body {
  background-image: url("/images/bg-pattern.svg");
  background-position-y: -65px;
  background-repeat: no-repeat;
  font-family: "Manrope", sans-serif;
  z-index: -1;
}

.heroText {
  background-image: url("/images/pattern-circles.svg");
  background-position: center center;
  background-position-y: 55px;
  background-repeat: no-repeat;
  padding: 20px 0;
}

h1 {
  color: #293356;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.6875rem;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 15px;
}

.mainText {
  color: #848ead;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1.4375rem;
  text-align: center;
}

.pricingBlock {
  background: #ffffff;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
  border-radius: 8px;
  width: 327px;
  height: 478px;
  margin: 30px auto 25px auto;
  text-align: center;
  z-index: 1;
}

.desktopPricingSection {
  display: none;
}

.pageViews {
  color: #848ead;
  font-weight: 800;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 1.71429px;
  text-transform: uppercase;
  padding-top: 30px;
}

/*------------price slider-----------*/
.slideContainer {
  margin-top: 25px;
}

input[type="range"] {
  appearance: none;
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 80%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/*styles for the thumb*/
/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background: #10d8c4;
  background-image: url("/images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background: #10d8c4;
  background-image: url("/images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background: #10d8c4;
  background-image: url("/images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  cursor: pointer;
}

/*Styling the track*/
/*Colors:   background: linear-gradient(90deg, #a4f3eb 60%, #ecf0fb 40%);*/

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: linear-gradient(
    90deg,
    rgb(165, 243, 235) 50%,
    rgb(236, 240, 251) 50%
  );
  border-radius: 5px;
  border: 0.2px solid #010101;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: linear-gradient(
    90deg,
    rgb(165, 243, 235) 50%,
    rgb(236, 240, 251) 50%
  );
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: linear-gradient(
    90deg,
    rgb(165, 243, 235) 50%,
    rgb(236, 240, 251) 50%
  );
  border-radius: 5px;
  border: 0.2px solid #010101;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8px;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: linear-gradient(90deg, #ecf0fb 60%, #ecf0fb 40%);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]:focus::-ms-fill-lower {
  background: linear-gradient(90deg, #ecf0fb 60%, #ecf0fb 40%);
}
input[type="range"]::-ms-fill-upper {
  background: linear-gradient(90deg, #ecf0fb 60%, #ecf0fb 40%);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]:focus::-ms-fill-upper {
  background: linear-gradient(90deg, #ecf0fb 60%, #ecf0fb 40%);
}
/*----------END of the slider -----*/

#chargeAmount {
  color: #293356;
  font-size: 2rem;
  font-weight: 800;
  line-height: 2.75rem;
  letter-spacing: -0.8px;
  margin-right: 8px;
}

.monthTitle {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  text-align: center;
  color: #848ead;
  margin: 25px auto;
  padding: 30px 0 10px 0;
}

#billingToggle {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#switch {
  margin: 0 10px;
}

#monthly,
#yearly {
  color: #848ead;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
}

#discount {
  background: #feede8;
  border-radius: 9.5px;
  padding: 3px 8px;
  color: #ff8d68;
  font-weight: 800;
  font-size: 0.625rem;
  line-height: 0.875rem;
}

/*Toggle Switch*/
#switch {
  background: #cfd8ef;
  border-radius: 15px;
  height: 22px;
  width: 43px;

  position: relative;
  display: inline-block;
}

/* Hide default HTML checkbox */
#switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #7aeadf;
}

input:focus + .slider {
  box-shadow: 0 0 1px #7aeadf;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

hr {
  border-top: #ecf0fb 1px solid;
  margin: 45px 0 20px 0;
}

li::before {
  content: url("/images/icon-check.svg");
  margin-right: 15px;
}

li {
  color: #848ead;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1rem;
  margin-bottom: 9px;
}

button {
  background-color: #293356;
  border-radius: 20.5px;
  color: #becdff;
  font-size: 0.75rem;
  font-weight: 800;
  line-height: 1rem;
  height: 41px;
  width: 170px;
  margin-top: 25px;
}

button:hover {
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 800px) {
  body {
    background-position-y: -20px;
  }

  .heroText {
    width: 395px;
    height: 171px;
    margin: 0 auto 125px auto;
  }

  .heroText br {
    display: none;
  }

  h1 {
    color: #293356;
    font-weight: 800;
    font-size: 1.75rem;
    line-height: 2.375rem;
  }

  .mainText {
    font-size: 0.9375rem;
    line-height: 1.25rem;
  }

  .pricingBlock {
    width: 540px;
    height: 397px;
    margin-top: -100px;
  }

  .desktopPricingSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 55px;
  }

  .desktopHidden {
    display: none;
  }

  .pageViews {
    font-size: 0.875rem;
    line-height: 1.1875rem;
    letter-spacing: 2px;
    padding-top: 5px;
  }

  #chargeAmount {
    font-size: 2.5rem;
    line-height: 3.4375rem;
    letter-spacing: -1px;
  }

  .monthTitle {
    font-size: 1rem;
    line-height: 1.375rem;
    margin: 0;
    padding: 0;
  }

  .slideContainer {
    padding-bottom: 45px;
  }

  .featuresSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 55px;
  }

  .benefits {
    text-align: left;
  }

  button {
    margin-bottom: 30px;
  }
}
